/* Your styles here */

* {
    box-sizing: border-box;
}

body {
    color: #393d41;
    line-height: 1.65;
    font-family: 'Open Sans', sans-serif;
    ;
}

/* header styles */
header {
    height: 200px;
}

header>img {
    width: 17%;
    height: 168px;
    padding: 50px 40px;
}

/* main styles */
main>div {
    background-color: #e22d0e;
}

/* banner style */
.banner {
    background-image: url(../images/banner.jpg);
    background-position: center;
    height: 34rem;
    padding: 10% 5%;
    background-size: cover;
}

.banner>p {
    text-align: center;
    font-size: x-large;
    font-weight: 300;
}


.banner>h1 {
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: xx-large
}


.press {
    font-size: medium;
    text-transform: uppercase;
    color: white;
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    margin: 5% 30%;
    height: 50px;
    width: 20%;
    border: none;
    margin: 30px 40%;
}



/* article style */

.notebook>img {
    width: 25%;
    border-radius: 50%;
    margin: 5% 15%;
    display: block;
    display: inline-block;
}

.lavoro {}


article h3 {
    text-transform: capitalize;
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}



/* new logic for desktop */

.notebook {
    width: 50%;
    float: left;
}

.closetoimg {
    width: 40%;
    float: right;
}





.article {
    /* margin: 4%; */
}

.lavoro {
    text-align: left;
    margin-top: 50px;
}






/* square grande orange */
.orange {
    background-color: #e22d0e;
    text-align: center;
    color: white;
    width: 90%;
    height: 15rem;
    padding: 10% 5%;

}

.orange>h2 {
    margin: 5%;
    font-size: xx-large;
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;

}

.orange>p {
    margin: 5%;
    font-style: italic;
    font-size: large;
    font-weight: 500;
}

.orange h3 {
    font-size: larger;
}

.orange h5 {
    font-size: small;
}


/* style aside */
.schede>img {
    width: 100%;
}

/* .schede>h3,
p {
    text-align: center;
} */

.schede>h3 {
    text-transform: capitalize;
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-top: 7%;


}

.schede p {
    padding: 0% 5%;
    padding-bottom: 5%;
}

.closetogether {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.schede {
    border: 1.5px solid #dee1e3;
    border-radius: 5px;
    width: 519px;
    float: left;
    margin: 5% 1%;
}









/* footer styles */

footer {
    text-align: center;
    color: white;
    width: 100%;
    height: 200px;

}

footer a {
    color: #c8e7f0;
}

footer>h2 {
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: xx-large;
    width: 90%;
    height: 5%;
    padding: 5% 5%;
}

footer>ul {
    list-style: none;
    font-size: large;

}

li>i {
    margin-right: 2px;
}

hr {
    color: #c8e7f0;
    margin: 5% 25%;
}

footer>p {
    padding-bottom: 10%;
}

/* bg colors */
header {
    background-color: black;
}




footer {
    background-color: #25a2c3;
}